matplotlib==3.7.0
streamlit_authenticator
pandas==1.5.3
Requests==2.31.0
seaborn==0.12.2
#streamlit_extras==0.3.0
#streamlit-extras
streamlit==1.29.0
openpyxl
gcsfs
st-files-connection
git+https://github.com/streamlit/files-connection
plotly
google-cloud-storage
xlsxwriter
beautifulsoup4==4.9.3
html5lib==1.1
reportlab
pypdfium2
streamlit_profiler
google-cloud-documentai
python-docx
opencv-python-headless==4.5.2.52
tensorflow
pillow
pymysql==1.0.2
sqlalchemy==2.0.16
google-cloud-sql-connector
